* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(32, 177, 182);
}

.header {
    display: flex;
    border-bottom: 1px black solid;
    background-color: inherit;
    margin: auto;
    position: sticky;
    top: 0;
}

.logo {
    padding: 10px 10px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.title {
    align-self: center;
    width: auto;
    margin: auto;
}

.nav {
    padding: 10px 0;
    display: flex;
    align-self: center;
    justify-content: flex-end;
}

.nav a {
    text-decoration: none;
    padding: 10px 10px;
    color: black;
    border-left: 1px black solid;
}

.banner-1 {
    background-image: url(/pics/banner-1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-clip: border-box;
}

.innerbanner {
    font-size: xx-large;
    text-align: center;
    padding: 200px;
    background-color: rgba(255, 255, 255, 0.5);
}

.featured {
    /*background-color: rgb(223, 223, 223);*/
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

.featured-card {
    margin: 10px 10px;
    padding: 10px 10px;
    width: 25%;
    background-color: white;
    height: 400px;
    box-shadow: 0 0 10px black;
}

.image {
    background-color: grey;
    width: 100%;
    height: 160px;
    font-size: x-large;
    text-align: center;
    color: honeydew;
}

.banner-2 {
    background-image: url(/pics/banner-2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-clip: border-box;
}

.footer {
    text-align: center;
    padding: 20px 0;
    border-top: 1px black groove;
}